<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>jetpl模板引擎</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/test.css" media="screen">
    <script type="text/javascript" src="js/jetpl.js"></script>
  </head>
  <body style="background:#f7f7f7;">
    <section class="page-header">
      <h1 class="project-name fmy">jetpl模板引擎--演示</h1>
      <a href="https://github.com/singod/jetpl" class="btn">View on GitHub</a>
      <a href="https://github.com/singod/jetpl/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/singod/jetpl/tarball/master" class="btn">Download .tar.gz</a>
    </section>

<div class="warpbox fmy">
     <div class="test">
          <ul id="testid"></ul>
     </div>
</div>
<script id="testData" type="text/html">
    <h4 class="f18">标题: <%= intro %></h4>
    <% for (var j=0;j<list.length;j++) { %>
		<% for (var i=0;i<list[j].childmenu.length;i++) { %>
			<li><%= j %>. <%= list[j].childmenu[i].name %> - <%= list[j].childmenu[i].id %> ---- <%= test(j)+vs %></li>
			<!--<p><%= list[j].childmenu[i].content||"暂无内容" %></p>-->
		<% } %>
	<% } %>

</script>

<script type="text/javascript">
var vs=100;
var data = {
	intro: '一群码js的骚年，幻想改变世界，却被世界改变。',
	list:[
        {
            "name": "美妆",
            "id": "48",
            "childmenu": [
                {
                    "fullName": "面部护理",
                    "id": 52,
                    "name": "面部护理"
                },
                {
                    "fullName": "面膜",
                    "id": 69,
                    "name": "面膜"
                },
                {
                    "fullName": "身体护理",
                    "id": 54,
                    "name": "身体护理"
                },
                {
                    "fullName": "彩妆",
                    "id": 53,
                    "name": "彩妆"
                }
            ]
        },
        {
            "name": "母婴",
            "id": "49",
            "childmenu": [
                {
                    "fullName": "纸尿裤",
                    "id": 56,
                    "name": "纸尿裤"
                },
                {
                    "fullName": "奶粉",
                    "id": 71,
                    "name": "奶粉"
                },
                {
                    "fullName": "辅食",
                    "id": 60,
                    "name": "辅食"
                },
                {
                    "fullName": "用具",
                    "id": 70,
                    "name": "用具"
                },
                {
                    "fullName": "洗护/口腔",
                    "id": 58,
                    "name": "护肤洗浴"
                }
            ]
        },
        {
            "name": "护理",
            "id": "50",
            "childmenu": [
                {
                    "fullName": "头发护理",
                    "id": 61,
                    "name": "头发护理"
                },
                {
                    "fullName": "沐浴用品",
                    "id": 73,
                    "name": "沐浴用品"
                },
                {
                    "fullName": "口腔护理",
                    "id": 72,
                    "name": "口腔护理"
                },
                {
                    "fullName": "女士用品",
                    "id": 63,
                    "name": "女士用品"
                }
            ]
        },
        {
            "name": "保健",
            "id": "51",
            "childmenu": [
                {
                    "fullName": "健康食品",
                    "id": 66,
                    "name": "健康食品"
                },
                {
                    "fullName": "计生用品",
                    "id": 67,
                    "name": "计生用品"
                },
                {
                    "fullName": "维他命",
                    "id": 74,
                    "name": "维他命"
                },
                {
                    "fullName": "身体调理",
                    "id": 75,
                    "name": "身体调理"
                },
                {
                    "fullName": "眼部护理",
                    "id": 76,
                    "name": "眼部护理"
                }
            ]
        }
    ]
}

function test(i){return i*2}

var gethtml = document.getElementById('testData').innerHTML

jetpl(gethtml).render(data, function(html){
	document.getElementById('testid').innerHTML = html
});

</script>
  </body>
</html>
